# This file was updated by Duplicator on 2022-10-25 13:21:08.
# See the original_files_ folder for the original source_site_htaccess file.
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /help-and-advice/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /help-and-advice/index.php [L]
</IfModule>
# END WordPress