/* ----------------- Post Card -----------------------------------*/

.post-card .card-body .card-title h5,
.post-card .card-body .card-description p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.post-card .card-body .card-title h5 {
    -webkit-line-clamp: 3;
    height: 100px;
} 

.post-card .card-body .card-description p {
    -webkit-line-clamp: 4;
}

.post-card .card-body .card-description {
    margin: 0;
}

.post-card .card-body .post-info ul li span {
    padding-left: 0!important;
}
