db_data_dump
ignoreme/*
ignoreme
.idea
*local.ignore
.sass-cache
.svn
# General
.DS_Store
*.sql*
*.tar*
*.zip*
.AppleDouble
.LSOverride
node_modules
.env

# Allow config to be environment specific
wp-config.php

# Icon must end with two \r
Icon

public/phpinfo\.php

public/mycron\.sh

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
kubernetes/phpfpm-staging-secrets.yml
kubernetes/phpfpm/phpfpm-staging-secrets.yaml
nbproject
atom
kubernetes/phpfpm/phpfpm-production-secrets.yaml
