 *{
        &::-webkit-scrollbar {
          width: 8px;
          height: 4px;
        }
        &::-webkit-scrollbar-track {
          box-shadow:unset;
          background-color: #F4F4F4;
        }
         
        &::-webkit-scrollbar-thumb {
          background-color: #C8C8C8;
          outline: 0;
          border-radius: 4px;
          &:hover{
              background-color: var(--color-primary);
          }
        }
    }

body{
    padding: 0;
    margin: 0;
    font-family: Lato;
}

h1,
h2,
h3 {
    font-family: var(--family-title)!important;
}

h4,
h5,
h6,
p,
a,
ul,
li,
span,
input,
select,
button {
    font-family: var(--family-primary)!important;
}

img {
    width: 100%;
    height: auto;
}

a {
    color: var(--color-link);
}
