// Content wrapper
.wrap.container {

padding-bottom:@grid-gutter-width;
padding-top:@grid-gutter-width;
background-color:white;
}

// Main content area
/*.main {
  .make-sm-column(@main-sm-columns);
  .sidebar-primary & {
    .make-sm-column(@main-sm-columns - @sidebar-sm-columns);
  }
}*/

ul {
  list-style-type:none;
  padding:0;
}

.container {
  padding:0 20px;
}

.page-header {
  text-align:center;
  margin-top:0;
  margin-bottom:@grid-gutter-width;
  padding-top:0;
  h1 {
    margin-top:10px;
  }
}

.category-header {
  margin:0;
  text-align:center;
  font-family:Lato, sans-serif;
  text-transform:uppercase;
  padding-bottom:10px;
}

img {
  width:100%;
  height:auto;
}

// Common elements

.btn {
  background-color:@brand-primary;
  color:white;
  border:none;
}

button.btn {
  background-color:white;
  border:1px solid #ccc;
}


.pager {
  .next, .previous {
    a {
      .btn;
    }
  }
}

.no-results {
  h2 {
    margin-top:0;
  }
}

ul.post-list {
  list-style-type:none;
  margin:0;
  padding:@grid-gutter-width/2;
  li {
    border-bottom:1px solid white;
    padding:@grid-gutter-width/2 0;
    a:link, a:visited, a:hover {
      color:black;
      font-weight:bold;
    }
  }
}

// Pod sections
.pod {
  padding:@grid-gutter-width/2;
  margin-bottom:@grid-gutter-width/2;
}

.boxed {
  background-color:black;
  padding:@grid-gutter-width/2;
  color:white;
}

.rgba {
  .boxed {
    background-color:@transparent-black;
  }
}

section {
  h1 {
    margin:0;
    .section-title;
    
  }
}

.section-title {
  font-weight:bold;
  font-size:100%;
  letter-spacing:1px;
}

// Newsletter Pod
.newsletter {
  background-color:@darkgrey;
  .pod;
  padding:@grid-gutter-width;
  color:white;
  h1 {
    padding:0;
    margin-bottom:0.5em;
  }
}


// Category Grid

.home .category-grid {
  display:block;
}

.home .category-grid-toggle {
  display:none;
}

.category-grid-toggle {
  text-align:center;
  margin-top:0;
  margin-bottom:@grid-gutter-width;
}

.category-grid {
  
  display:none;
  
  .item {
    padding-bottom:@grid-gutter-width;
  }

  .content {
    position:relative;
    img {
      width:100%;
    }
    h3 {
      text-transform:uppercase;
      position:absolute;
      bottom:10%;
      left:@grid-gutter-width/2;
      right:@grid-gutter-width/2;
      margin:0 auto;
      padding:15px 0;
      color:white;
      font-weight:bold;
      background-color:black;
      font-size:70%;
      text-align:center;
    }
  }
}

.rgba .category-grid .item h3 {
  background-color:@transparent-black;
}

// INLINE FORM

.form-inline {
  input[type='search'], input[type='text'], input[type='email'] {
    border-radius:20px;
    border-right:none;
    outline:none;
  }
  button {
    padding:1px 2px 2px 2px;
    border-left:none;
    border-bottom-right-radius:20px;
    border-top-right-radius:20px;
    span {
      vertical-align:-2px;
      background-color:black;
      color:white;
      padding:7px 8px 8px 7px;
      border-radius:18px;
    }
  }
}


// Home / Category Details

.latest {
  background-color: #b5dadf;
  h1.boxed {
    text-align:left;
    font-weight:lighter;
  }
}

.lead-article {
  background-color:@midgrey;
}

.second-article {
  border:1px solid @darkgrey;
}


// Media queries

@media(min-width:@screen-sm-min){
  
  .flexbox .reverse {
    display:block;
  }

  .boxed {
    padding:@grid-gutter-width;
  }

  .pod {
    padding:@grid-gutter-width;
    margin-bottom:@grid-gutter-width;
  }

  .newsletter {
    padding:@grid-gutter-width*1.5;
    margin-bottom:@grid-gutter-width;
    h1 {
      font-size:110%;
    }
    p {
      font-size:70%;
    }
  }
  
  section h1 {
    font-size:130%;
  }

  .category-header {
    text-align:left;
    .pull-left;
  }

  .category-grid-toggle {
    .pull-right;
    margin-top:4px;
  }

  .category-grid {
    .content {
      h3 {
        font-size:100%;
        letter-spacing:1px;
      }
    }
  }
}

@media(min-width:@screen-md-min){

  section h1 {
    font-size:150%;
  }

  .newsletter {
    padding:@grid-gutter-width*1.5;
    h1 {
      font-size:110%;
    }
    p {
      font-size:100%;
    }
  }

  .category-grid {
    .content {
      h3 {
        font-size:130%;
      }
    }
  }
}