/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*-------------------- Color Variables -----------------------------*/
/* ----------------- Display -----------------------------------*/
.d-block {
  display: block; }

.d-flex,
.align-start,
.align-center,
.align-end,
.justify-start,
.justify-center,
.justify-end {
  display: flex; }

.align-start {
  align-items: flex-start; }

.align-center {
  align-items: center; }

.align-end {
  align-items: flex-end; }

.justify-start {
  jusitfy-content: flex-start; }

.justify-center {
  jusitfy-content: centert; }

.justify-end {
  jusitfy-content: flex-end; }

.elementor-pagination {
  display: flex;
  margin: 40px auto;
  margin-bottom: 0;
  justify-content: center; }
  .elementor-pagination .page-numbers {
    background-color: #57B23F !important;
    width: 30px;
    height: 30px;
    color: #fff;
    line-height: 30px;
    font-family: "Source Sans Pro", Sans-serif; }
  .elementor-pagination .prev,
  .elementor-pagination .next {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: transparent; }
    .elementor-pagination .prev:after,
    .elementor-pagination .next:after {
      content: '';
      color: #fff;
      position: absolute;
      font-size: 14px; }
    .elementor-pagination .prev:hover,
    .elementor-pagination .next:hover {
      background-color: #222; }
  .elementor-pagination .prev:after {
    content: "\f053"; }
  .elementor-pagination .next:after {
    content: "\f054"; }

/* ------------------------------ Site Header -------------------------------*/
#site-header {
  z-index: 9;
  position: fixed;
  top: 0;
  width: 100%; }

body.admin-bar #site-header {
  top: 32px; }

header .chipper-search i {
  cursor: pointer; }

#search-form {
  transition: all .5s ease-in-out; }
  #search-form.active {
    margin-top: 90px;
    position: fixed;
    z-index: 8;
    background-color: #fff;
    box-shadow: 0px 0px 4px #c2c2c2; }
    @media screen and (max-width: 767px) {
      #search-form.active {
        margin-top: 12vw; } }
    @media screen and (max-width: 767px) {
      #search-form.active {
        margin-top: 14vw; } }

/* ----------------- Mega Menu -----------------------------------*/
#mm-menu {
  position: fixed;
  z-index: 8;
  box-shadow: 0vw 19vw 100vw 100vw rgba(0, 0, 0, 0.5);
  top: -200vw;
  transition: top .5s ease-in-out; }
  @media screen and (max-width: 800px) {
    #mm-menu {
      box-shadow: none; } }
  @media screen and (max-width: 767px) {
    #mm-menu .elementor-row {
      overflow: auto;
      height: calc(100vh - 77px); }
      #mm-menu .elementor-row .elementor-row {
        height: auto; } }
  #mm-menu.active {
    top: 77px; }
    @media screen and (max-width: 767px) {
      #mm-menu.active {
        top: 11vw; } }

body.admin-bar #mmenu {
  top: 106px; }

#mm-menu .menu-content h5 {
  margin: 5px 0;
  line-height: normal;
  font-weight: 400; }

#mm-menu .menu-content h5 a {
  color: #222; }

#mm-menu .menu-content ul {
  margin: 15px 0; }

#mm-menu .menu-content ul li a {
  font-size: 16px;
  color: #222; }

.tab {
  width: 100%;
  color: white;
  overflow: hidden; }
  .tab input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    z-index: -1; }
  .tab-label {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    color: #222;
    padding: 15px 12px;
    background-color: #222;
    border: 1px solid #222;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 15px;
    /* Icon */ }
    .tab-label::after {
      content: '';
      width: 10px;
      height: 10px;
      border-bottom: 2px solid #c2c2c2;
      border-right: 2px solid #c2c2c2;
      text-align: center;
      transition: all .35s;
      transform: rotate(45deg);
      position: absolute;
      top: 18px;
      right: 12px; }
  .tab-content {
    max-height: 0;
    transition: all .35s; }
  .tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    cursor: pointer; }

input:checked + label::after {
  transform: rotate(-135deg);
  top: 21px; }
input:checked ~ .tab-content {
  max-height: fit-content; }
  input:checked ~ .tab-content label {
    border: 1px solid #c2c2c2;
    background-color: transparent; }
  input:checked ~ .tab-content .sub-level label:after {
    transform: rotate(-45deg); }

/* ----------------- Post Card -----------------------------------*/
.post-card .card-body .card-title h5,
.post-card .card-body .card-description p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.post-card .card-body .card-title h5 {
  -webkit-line-clamp: 3;
  height: 100px; }

.post-card .card-body .card-description p {
  -webkit-line-clamp: 4; }

.post-card .card-body .card-description {
  margin: 0; }

.post-card .card-body .post-info ul li span {
  padding-left: 0 !important; }

/* --------------------------- Slick Customize -------------------------- */
.slick-arrow {
  width: 90px;
  height: 70px;
  background-color: #57B23F !important;
  position: absolute;
  bottom: 0;
  color: transparent;
  bottom: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Font Awesome 5 Free";
  font-weight: 900; }
  .slick-arrow:hover {
    background-color: #222; }
  .slick-arrow:focus {
    outline: none; }
  .slick-arrow.slick-prev {
    left: -90px; }
    .slick-arrow.slick-prev:after {
      content: "\f30a"; }
  .slick-arrow.slick-next {
    right: -90px; }
    .slick-arrow.slick-next:after {
      content: "\f30b"; }
  .slick-arrow:after {
    content: '';
    color: #fff;
    position: absolute;
    font-size: 24px; }

.slick-slider *:focus {
  outline: none; }

/* ----------------------------  Who we are -----------------------------------*/
.all-categories h5 {
  display: none; }
.all-categories ul {
  list-style: none; }
  .all-categories ul.slick-slider {
    margin: 0;
    padding: 0; }
  .all-categories ul.children {
    margin-top: -30px; }
    .all-categories ul.children li {
      margin-left: 55px; }
      .all-categories ul.children li a span {
        font-size: 14px; }
  .all-categories ul li.slick-slide {
    box-shadow: 0px 0px 6px #c2c2c2;
    padding: 20px;
    min-height: 100px;
    margin: 10px; }
  .all-categories ul li.cat-item {
    max-width: 320px;
    width: 100%; }
    .all-categories ul li.cat-item a {
      display: flex;
      width: fit-content; }
      .all-categories ul li.cat-item a img {
        height: 50px;
        width: 50px;
        object-fit: contain;
        margin-right: 12px; }
      .all-categories ul li.cat-item a span {
        font-size: 16px; }
  .all-categories ul li a {
    font-family: "Source Sans Pro", Sans-serif;
    color: #222;
    font-weight: 700; }
  .all-categories ul li ul li a {
    font-weight: 400; }
.all-categories .slick-slider .slick-list {
  width: calc(100% - 150px);
  margin: 0 auto; }
  @media screen and (max-width: 480px) {
    .all-categories .slick-slider .slick-list {
      width: calc(100% - 100px); } }
.all-categories .slick-slider .slick-prev,
.all-categories .slick-slider .slick-next {
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  top: 34%; }
  .all-categories .slick-slider .slick-prev:after,
  .all-categories .slick-slider .slick-next:after {
    font-size: 16px; }
  .all-categories .slick-slider .slick-prev:hover,
  .all-categories .slick-slider .slick-next:hover {
    background-color: #222 !important; }
.all-categories .slick-slider .slick-prev {
  left: 0; }
  .all-categories .slick-slider .slick-prev:after {
    content: "\f053"; }
.all-categories .slick-slider .slick-next {
  right: 0; }
  .all-categories .slick-slider .slick-next:after {
    content: "\f054"; }

.who-we-are a {
  color: #222; }
  .who-we-are a:hover {
    color: #57B23F; }
.who-we-are .who-we-are-content p {
  margin: 0; }
.who-we-are .visit-store p {
  margin: 0; }

/*-------------------------- Single Post ---------------------------------*/
.post-breadcrumb nav p a, .post-breadcrumb nav p span {
  font-size: 14px;
  font-family: "Source Sans Pro", Sans-serif;
  color: #222;
  font-weight: 700; }
  .post-breadcrumb nav p a:first-child, .post-breadcrumb nav p span:first-child {
    width: 20px;
    height: 20px;
    color: transparent;
    display: inline-flex;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    text-align: center;
    position: relative; }
    .post-breadcrumb nav p a:first-child:after, .post-breadcrumb nav p span:first-child:after {
      content: '\f015';
      font-size: 12px;
      color: #222;
      position: absolute;
      right: 0;
      left: 0; }
  .post-breadcrumb nav p a:last-child, .post-breadcrumb nav p span:last-child {
    color: #57B23F; }

.post-category-header .elementor-shortcode a {
  display: flex;
  align-items: center; }
  .post-category-header .elementor-shortcode a img {
    width: 34px;
    height: 34px;
    object-fit: contain;
    margin-right: 15px; }
  .post-category-header .elementor-shortcode a .category-name {
    font-size: 30px;
    font-family: "Source Sans Pro", Sans-serif;
    color: #222;
    font-weight: 700; }
.post-category-header .elementor-shortcode time {
  display: none; }
.post-category-header .elementor-heading-title {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-family: "Source Sans Pro", Sans-serif !important;
  color: #222 !important;
  font-weight: 700 !important; }
  .post-category-header .elementor-heading-title img {
    width: 34px;
    height: 34px;
    object-fit: contain;
    margin-right: 15px; }
  .post-category-header .elementor-heading-title .category-name {
    font-size: 30px;
    font-family: "Source Sans Pro", Sans-serif;
    color: #222;
    font-weight: 700; }

.custom-products-posts-slider .slick-arrow {
  bottom: 48%;
  width: 30px;
  padding: 0;
  height: 30px;
  background-color: transparent !important; }
  .custom-products-posts-slider .slick-arrow:after {
    color: #222; }
  .custom-products-posts-slider .slick-arrow.slick-prev {
    left: 0; }
  .custom-products-posts-slider .slick-arrow.slick-next {
    right: 0; }
.custom-products-posts-slider .slick-list {
  width: calc(100% - 70px);
  margin: 0 auto; }

.single-pagination .elementor-post-navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .single-pagination .elementor-post-navigation a {
    display: block;
    width: 100px;
    padding: 10px;
    border: 1px solid #57B23F;
    border-radius: 25px;
    text-align: center;
    justify-content: center; }
    .single-pagination .elementor-post-navigation a span {
      width: fit-content;
      margin: 0 auto; }

/* ------------------------- Page Home ------------------------------*/
.home-post-slider *:focus, .home-post-slider *:hover {
  outline: none; }

.home .elementor-shortcode .tab {
  padding: 0 10px;
  margin: 12px auto;
  max-width: 400px;
  width: 100%;
  border: 2px solid #efefef;
  border-radius: 5px; }
  .home .elementor-shortcode .tab:hover {
    border: 2px solid #57B23F;
    box-shadow: 1px 1px #c2c2c2; }
    .home .elementor-shortcode .tab:hover label {
      font-weight: bold; }
  .home .elementor-shortcode .tab input:checked + label::after {
    content: '-'; }
  .home .elementor-shortcode .tab input:checked ~ .tab-content {
    margin-bottom: 12px; }
  .home .elementor-shortcode .tab .tab-content a {
    display: block;
    color: #222;
    margin-left: 55px;
    font-size: 14px;
    margin-bottom: 10px; }
  .home .elementor-shortcode .tab label {
    width: 99%;
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: flex-start;
    border: 0;
    margin: 0;
    padding: 0;
    height: 50px; }
    .home .elementor-shortcode .tab label:after {
      content: '+';
      width: 18px;
      height: 18px;
      border: 0;
      font-size: 24px;
      line-height: 15px;
      top: 15px;
      right: 10px;
      transform: none; }
    .home .elementor-shortcode .tab label img {
      width: 35px;
      height: 35px;
      object-fit: contain;
      margin-right: 15px; }
    .home .elementor-shortcode .tab label a {
      color: #222; }
  .home .elementor-shortcode .tab:last-child label {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding-left: 50px;
    background: url("https://wp1.dev.superbotics.in/wp-content/uploads/elementor/thumbs/earth-icon-opqiwlnvcn064fprhnjpt62lunt8y1net9dmbql1c0.png");
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 0 center; }
    .home .elementor-shortcode .tab:last-child label img {
      display: none; }
    .home .elementor-shortcode .tab:last-child label:after {
      content: '\f30b';
      font-size: 16px;
      line-height: 20px; }
  .home .elementor-shortcode .tab:last-child input:checked + label::after {
    content: '\f30b'; }

/*# sourceMappingURL=style.css.map */
