.banner{
    position: relative;
    max-height: 340px;
    margin-bottom: 40px;
     @media screen and (max-width: 767px){
            height: 250px;
     }
    img{
        height: 100%;
        object-fit: cover;
    }
    .banner-search{    
        position: absolute;
        top: 3vw;
        left: 0;
        right: 0;
        margin: 30px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h1{
            color: var(--text-color-light);
            font-size: 32px;
            text-shadow: 0px 0px 6px #444444;
            @media screen and (min-width: 1080px){
                font-size: 62px;
            }
        }
        form{
            max-width: 420px;
            width: 100%;
             @media screen and (max-width: 480px){
                width: 90%;
             }
            input, 
            button{
                font-size: 14px;
            }
        }
    }
}