/* --------------- Fonts -------------*/

@font-face {
    font-family: FuturaBold;
    src: url('../font/FuturaBold.otf');
}

@font-face {
    font-family: FuturaMedium;
    src: url('../font/FuturaMedium.otf');
}

@font-face {
    font-family: Futura;
    src: url('../font/Futura.otf');
}

@font-face {
    font-family: Lato;
    src: url('../font/Lato-Regular.ttf');
}

@font-face {
    font-family: Lato-Light;
    src: url('../font/Lato-Light.ttf');
}