.opening_time {
    transition: all 0.5s ease-in-out;
    background-color: var(--text-color-light);
    small {
        font-size: 12px;
        color: var(--color-primary);
        display: block;
        text-align: center;
        border: 1px solid silver;
        line-height: 20px;
        border-radius: 12px;
        padding-bottom: 2px;
        cursor: pointer;
    }

    .opening-popup {
        display: none;
        font-size: 12px;

        ul {
            list-style: disc;
            padding-left: 18px;
            margin: 0;

            li {
                margin: 5px 0;
                line-height: normal;
            }
        }

        .close {
            position: absolute;
            top: 10px;
            right: 10px;
            line-height: normal;
            cursor: pointer;
        }
    }

    &.active {
        border: 1px solid silver;
        border-radius: 5px;
        position: absolute;
        right: 0; 
        top: 41px;
        width: 160px;
        padding: 8px;
        z-index: 999;

        small {
            padding-bottom: 0;
            border: 0;
        }

        .opening-popup {
            display: block;
        }
    }
}

#header-contact{
    margin-left: 15px;
    height: 55px;
    .tel{
        margin: 0;
        a{
            color: var(--color-primary);
            font-weight: 700;
        }
    }
}