:root{
    --family-primary: Lato, sans-serif;
    --family-title: FuturaBold, sans-serif; 
    
    --color-primary:        #ff6b00;
    --color-primary-darken: #e45600;
    --color-primary-light: #ffd9bf;
    
    --footer-menu-color:     #767B7F;
    --footer-menu-hover-color: #ff6b00; 
    
    --post-color-icon:      #909090;
    --border-color:         #E9E9E9;
    --color-link:           #ff6b00;
    --text-color-darken:    #000;
    --text-color-light:     #fff;
    
    --footer-background:    #FFF0E5;
}