/* ---------------- Flex Box -----------------*/

.d-flex{
    display: flex;
}

.align-start{
    align-items: flex-start;
}

.align-center{
    align-items: center;
}

.align-end{
    align-items: flex-end;
}

.justify-start{
    justify-content: flex-start;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-evenly{
    justify-content: space-evenly;
}

.justify-end{
    justify-content: flex-end;
}

.wrap{
    flex-wrap: wrap;
}

.no-wrap{
    flex-wrap: no-wrap;
}

.column{
    flex-direction: column;
}

.column-reverse{
    flex-direction: column-reverse;
}

.row{
    flex-direction: row;
}

.row-reverse{
    flex-direction: row-reverse;
}