/*-------------------- Color Variables -----------------------------*/

$white-color:   #fff;
$black-color:   #000;

$primary-color: #57B23F;

$text-color:    #222;

$box-shadow:    #c2c2c2;

$light-gray:     #efefef;